.border-div{
    border: solid #61dafb;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    width: 370px;
    height: 100px;
}
.settings {
    composes: border-div;
    flex-wrap: wrap;
    margin: 50px;
    color: #61dafb;
    width: 420px;
    height: 300px;
}
.block {
    composes: border-div;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}